In [55]:
!pip install imbalanced-learn
!pip install --upgrade imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\vaibh\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: imbalanced-learn in c:\users\vaibh\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: scipy>=1.5.0 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\vaibh\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.2)

In [56]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [57]:
df = pd.read_csv('processed_data.csv')
df.head()

,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,Gender_Female,Gender_Male,Location_Chicago,Location_Houston,Location_Los Angeles,Location_Miami,Location_New York,Age_group_1 - 10,Age_group_11 - 20,Age_group_21 - 30,Age_group_31 - 40,Age_group_41 - 50,Age_group_51 - 60,Age_group_61 - 70
0,17,73.36,236,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1
1,1,48.76,172,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1
2,5,85.47,460,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0
3,3,97.94,297,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
4,19,58.14,266,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0

In [58]:
# Creating X and Y variable

In [59]:
x = df.drop('Churn', axis=1)

In [60]:
x

,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Gender_Female,Gender_Male,Location_Chicago,Location_Houston,Location_Los Angeles,Location_Miami,Location_New York,Age_group_1 - 10,Age_group_11 - 20,Age_group_21 - 30,Age_group_31 - 40,Age_group_41 - 50,Age_group_51 - 60,Age_group_61 - 70
0,17,73.36,236,0,1,0,0,1,0,0,0,0,0,0,0,0,1
1,1,48.76,172,1,0,0,0,0,0,1,0,0,0,0,0,0,1
2,5,85.47,460,1,0,0,0,1,0,0,0,0,1,0,0,0,0
3,3,97.94,297,1,0,0,0,0,1,0,0,0,0,1,0,0,0
4,19,58.14,266,1,0,0,0,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,23,55.13,226,0,1,0,1,0,0,0,0,0,0,1,0,0,0
99996,19,61.65,351,1,0,0,0,0,0,1,0,0,0,0,0,0,1
99997,17,96.11,251,0,1,1,0,0,0,0,0,0,0,0,0,0,1
99998,20,49.25,434,1,0,0,0,0,0,1,0,0,0,0,0,1,0
99999,19,76.57,173,1,0,0,0,1,0,0,0,0,1,0,0,0,0

In [61]:
y = df['Churn']
y

0        0
1        0
2        0
3        1
4        0
        ..
99995    1
99996    0
99997    1
99998    1
99999    1
Name: Churn, Length: 100000, dtype: int64

In [62]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [63]:
# Decision Tree Classifier

In [64]:
model_dt = DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [65]:
model_dt.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [66]:
y_pred = model_dt.predict(x_test)

In [67]:
y_pred

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [68]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.51      0.90      0.65     10153
           1       0.51      0.10      0.17      9847

    accuracy                           0.51     20000
   macro avg       0.51      0.50      0.41     20000
weighted avg       0.51      0.51      0.42     20000

In [69]:
print(confusion_matrix(y_test, y_pred))

[[9164  989]
 [8830 1017]]

In [71]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_resample(x,y)

In [72]:
xr_train, xr_test, yr_train, yr_test = train_test_split(X_resampled,y_resampled, test_size = 0.2)

In [73]:
model_dt_smote = DecisionTreeClassifier(criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)

In [74]:
model_dt_smote.fit(xr_train, yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [75]:
y_pred_smote = model_dt_smote.predict(xr_test)

In [76]:
print(classification_report(yr_test, y_pred_smote, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.51      0.51      0.51      1326
           1       0.50      0.49      0.50      1298

    accuracy                           0.50      2624
   macro avg       0.50      0.50      0.50      2624
weighted avg       0.50      0.50      0.50      2624

In [77]:
# Now lets try Random Forest Classifier

In [78]:
from sklearn.ensemble import RandomForestClassifier

In [79]:
model_rf = RandomForestClassifier(n_estimators=100, criterion='gini', random_state=100, max_depth=6, min_samples_leaf=8)
model_rf.fit(x_train, y_train)
y_pred_rf = model_rf.predict(x_test)

In [80]:
print(classification_report(y_test, y_pred_rf, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.51      0.57      0.54     10153
           1       0.50      0.45      0.47      9847

    accuracy                           0.51     20000
   macro avg       0.51      0.51      0.51     20000
weighted avg       0.51      0.51      0.51     20000

In [81]:
# Now lets save our model

In [82]:
import pickle

In [88]:
filename = 'model.pkl'

In [89]:
pickle.dump(model_rf, open(filename, 'wb'))

In [90]:
load_model = pickle.load(open(filename, 'rb'))

In [91]:
load_model.score(xr_test, yr_test)

0.5754573170731707

In [92]:
# Obviously not an efficient model but a model nonetheless !